

body {
  font-size: 16px;
  color: #ffffff;
  font-family: "open_sans", Times, serif;
  font-style: normal;
  font-weight: normal;
  background-color: black;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include desktop{
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: initial;
  }
  @include tablet {
    justify-content: flex-start;
  }
}

.logo {
  padding: 1rem;
  margin: 5rem 2rem;
  @include tablet{
    margin-right: 3rem;
  }
}

section {
  h3{
    margin: $margin;
    color: #c2c2c2;
    }
}

article {
}

#loader {
  height: 3rem;
  padding: 3rem 0;;
  }

footer {
  padding-top: 2rem;
}

