

body {
  font-size: 16px;
  color: #ffffff;
  font-family: "open_sans", Times, serif;
  font-style: normal;
  font-weight: normal;
  background-color: black;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include desktop{
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: initial;
  }
  @include tablet {
    justify-content: flex-start;
    }
  }

.logo {
  padding: 1rem;
  margin: 5rem 2rem;
  @include tablet{
    margin-right: 3rem;
  }
}

section {
  h3{
    margin: $margin;
    }
  }

.listed-news {
  height: 30rem;
  position: relative;
  @include desktop {
    width: 25%;
    }
  img {
    height: 30rem;
    width: 100%;
    }
  div {
    display: flex;
    flex-flow: column-reverse wrap;
    }
  p {
    font-size: 1rem;
    position: absolute;  
    padding:  .8rem .5rem;
    line-height: 1.5rem;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    }
  }
@include desktop {
  .listed-news:hover {
  // height: 100rem;
  // width: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform:  translate(-50%, -50%);
  transform: scale(1.5,1.5);
  transition: all 1s step-in-out 1s;
  }
}
#loader {
  height: 3rem;
  padding: 3rem 0;;
  }

footer {
  padding-top: 2rem;
}


