body {
  font-size: 16px;
  color: #ffffff;
  font-family: "open_sans", Times, serif;
  font-style: normal;
  font-weight: normal;
  background-color: black;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include desktop{
    flex-flow: row wrap;
    align-items: initial;
  }
  @include tablet {
    flex-flow: row wrap;
    align-items: initial;
    }
  }

.header-logo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  .header-and-select {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    h3 {
      margin: $margin;
    }
  }
}

.small-logo {
  height: 5rem;
}
.logo-size {
  height: 20rem;
  @include tablet{
    height: 10rem;
    display: flex;
    flex-flow: row wrap;
    padding-right: 60vh;
  }
  @include desktop {
    padding-right: 80vh;
  }
}

.listed-news {
  height: 30rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include tablet {
    height: 30rem;
    width: 33.333%;
    &:hover {
      .abstract {
        bottom: 0;
      }
    }
  }
  @include desktop {
    width: 25%;
    &:hover{
      .abstract {
        bottom: 0;
        }
      }
    }

  img {
    height: 35rem;
    width: 37.5rem;
    @include tablet {
      width: 31.25rem;
      position: absolute;
    }
    @include desktop {
      width: 26.5rem;
      position: absolute;      
    }
    }
  div {
    display: flex;
    flex-flow: column-reverse wrap;
    }
}
.abstract {
    bottom: 0px;
    display: inline;
    font-size: 1rem;
    position: absolute;  
    padding:  .8rem .5rem;
    line-height: 1.5rem;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    @include tablet {
      bottom: -200px;
      transition: all 1s ease-in-out .05s;
    }
    @include desktop {
      bottom: -200px;
      transition: all 1s ease-in-out .05s;
    }
}
#loader {
  height: 3rem;
  padding: 3rem 0;;
  }

  footer p {
    color: $footer-color;
    margin: 2rem 0;
    text-align: center;
    width: 100%
  }

