$desktop-width: 1000px;
$tablet-width: 600px;
$margin: 1rem;
$base-fontsize: 16px;
$base-color:  #ffffff;
$base-fontfamily: "open_sans";
$base-style:  normal;
$base-weight: normal;
$base-backgroundcolor:  #000000;
