$desktop-width: 1000px;
$tablet-width: 600px;
$margin: 1rem;
$base-fontsize: 16px;
$base-color:  #ffffff;
$footer-color: #c2c2c2;
$base-fontfamily: "open_sans", Times, serif;
$base-style:  normal;
$base-weight: normal;
$base-backgroundcolor:  #000000;


